05_kafka_docker/.DS_Store
python-Rest-Kafka-Data/.idea/.DS_Store
python-Rest-Kafka-Data/.DS_Store
python-Rest-Kafka-Data/data/.DS_Store
python-Rest-Kafka-Data/data/capteurs_data/.DS_Store
python-Rest-Kafka-Data/data/capteurs_data/_sent/.DS_Store
